body {
  font-size: 16px;
  color: #fff433;
  background-color: #9b59d0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#header-nav {
  border-radius: 0;
  border: 0;
  min-height: 70px;
  background-color: #000000;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #9b59d0;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list a {
  color: #9b59d0;
  font-weight: bold;
}

#nav-list a:hover {
  background: #fff433;
}

#collapsable-nav{
  text-align: center;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #9b59d0;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#page-title {
  font-weight: bold;
  margin-bottom: 30px;
}

#main-text {
  padding-left: 20px;
  padding-right: 20px;
}

.text-background {
  height: 3000px;
  padding: 20px 40px 20px 40px;
  background-color: #000000;
  overflow: hidden;
}

h3 {
  font-weight: bold;
}